In [1]:
import sqlite3
import pandas as pd

In [3]:
db = sqlite3.connect("IMDB.sqlite")

In [5]:
cur = db.cursor()

# Finding the number of movies in each genre

Using SQL commands

In [12]:
cur.execute("select genre,count(*) from genre group by genre")
ans = cur.fetchall()

In [13]:
ans

[('', 41),
 ('Action', 33),
 ('Adventure', 43),
 ('Animation', 13),
 ('Biography', 21),
 ('Comedy', 31),
 ('Crime', 11),
 ('Drama', 77),
 ('Family', 3),
 ('Fantasy', 7),
 ('History', 6),
 ('Horror', 2),
 ('Music', 3),
 ('Musical', 1),
 ('Mystery', 7),
 ('Romance', 13),
 ('Sci-Fi', 18),
 ('Sport', 3),
 ('Thriller', 14),
 ('War', 2),
 ('Western', 2)]

Using dataframe

In [15]:
df = pd.read_sql_query("select * from genre",db)

In [16]:
genre_counts = df['genre'].value_counts()

In [17]:
genre_counts

Drama        77
Adventure    43
             41
Action       33
Comedy       31
Biography    21
Sci-Fi       18
Thriller     14
Romance      13
Animation    13
Crime        11
Mystery       7
Fantasy       7
History       6
Sport         3
Family        3
Music         3
Western       2
War           2
Horror        2
Musical       1
Name: genre, dtype: int64