In [1]:
import sqlite3
import pandas as pd

In [3]:
db = sqlite3.connect("IMDB.sqlite")

In [5]:
cur = db.cursor()

# Finding the number of movies in each genre

Using SQL commands

In [12]:
cur.execute("select genre,count(*) from genre group by genre")
ans = cur.fetchall()

In [13]:
ans

[('', 41),
 ('Action', 33),
 ('Adventure', 43),
 ('Animation', 13),
 ('Biography', 21),
 ('Comedy', 31),
 ('Crime', 11),
 ('Drama', 77),
 ('Family', 3),
 ('Fantasy', 7),
 ('History', 6),
 ('Horror', 2),
 ('Music', 3),
 ('Musical', 1),
 ('Mystery', 7),
 ('Romance', 13),
 ('Sci-Fi', 18),
 ('Sport', 3),
 ('Thriller', 14),
 ('War', 2),
 ('Western', 2)]

Using dataframe

In [15]:
df = pd.read_sql_query("select * from genre",db)

In [16]:
genre_counts = df['genre'].value_counts()

In [17]:
genre_counts

Drama        77
Adventure    43
             41
Action       33
Comedy       31
Biography    21
Sci-Fi       18
Thriller     14
Romance      13
Animation    13
Crime        11
Mystery       7
Fantasy       7
History       6
Sport         3
Family        3
Music         3
Western       2
War           2
Horror        2
Musical       1
Name: genre, dtype: int64

# Finding the higest grossing movie ever

In [24]:
cur.execute('PRAGMA table_info(imdb)')
for row in cur:
    print(row)
print("*******************************************")
cur.execute('PRAGMA table_info(earning)')
for row in cur:
    print(row)

(0, 'Movie_id', 'Text', 0, None, 0)
(1, 'Title', 'Text', 0, None, 0)
(2, 'Rating', 'DECIMAL', 0, None, 0)
(3, 'TotalVotes', 'INTEGER', 0, None, 0)
(4, 'MetaCritic', 'DECIMAL', 0, None, 0)
(5, 'Budget', 'DOUBLE', 0, None, 0)
(6, 'Runtime', 'Text', 0, None, 0)
(7, 'CVotes10', 'Text', 0, None, 0)
(8, 'CVotes09', 'Text', 0, None, 0)
(9, 'CVotes08', 'Text', 0, None, 0)
(10, 'CVotes07', 'Text', 0, None, 0)
(11, 'CVotes06', 'Text', 0, None, 0)
(12, 'CVotes05', 'Text', 0, None, 0)
(13, 'CVotes04', 'Text', 0, None, 0)
(14, 'CVotes03', 'Text', 0, None, 0)
(15, 'CVotes02', 'Text', 0, None, 0)
(16, 'CVotes01', 'Text', 0, None, 0)
(17, 'CVotesMale', 'Text', 0, None, 0)
(18, 'CVotesFemale', 'Text', 0, None, 0)
(19, 'CVotesU18', 'Text', 0, None, 0)
(20, 'CVotesU18M', 'Text', 0, None, 0)
(21, 'CVotesU18F', 'Text', 0, None, 0)
(22, 'CVotes1829', 'Text', 0, None, 0)
(23, 'CVotes1829M', 'Text', 0, None, 0)
(24, 'CVotes1829F', 'Text', 0, None, 0)
(25, 'CVotes3044', 'Text', 0, None, 0)
(26, 'CVotes3044M', 'Text', 0, None, 0)
(27, 'CVotes3044F', 'Text', 0, None, 0)
(28, 'CVotes45A', 'Text', 0, None, 0)
(29, 'CVotes45AM', 'Text', 0, None, 0)
(30, 'CVotes45AF', 'Text', 0, None, 0)
(31, 'CVotes1000', 'Text', 0, None, 0)
(32, 'CVotesUS', 'Text', 0, None, 0)
(33, 'CVotesnUS', 'Text', 0, None, 0)
(34, 'VotesM', 'Text', 0, None, 0)
(35, 'VotesF', 'Text', 0, None, 0)
(36, 'VotesU18', 'Text', 0, None, 0)
(37, 'VotesU18M', 'Text', 0, None, 0)
(38, 'VotesU18F', 'Text', 0, None, 0)
(39, 'Votes1829', 'Text', 0, None, 0)
(40, 'Votes1829M', 'Text', 0, None, 0)
(41, 'Votes1829F', 'Text', 0, None, 0)
(42, 'Votes3044', 'Text', 0, None, 0)
(43, 'Votes3044M', 'Text', 0, None, 0)
(44, 'Votes3044F', 'Text', 0, None, 0)
(45, 'Votes45A', 'Text', 0, None, 0)
(46, 'Votes45AM', 'Text', 0, None, 0)
(47, 'Votes45AF', 'Text', 0, None, 0)
(48, 'VotesIMDB', 'Text', 0, None, 0)
(49, 'Votes1000', 'Text', 0, None, 0)
(50, 'VotesUS', 'Text', 0, None, 0)
(51, 'VotesnUS', 'Text', 0, None, 0)
*******************************************
(0, 'Movie_id', 'Text', 0, None, 0)
(1, 'Domestic', 'Integer', 0, None, 0)
(2, 'Worldwide', 'DOUBLE', 0, None, 0)

In [25]:
print(cur.execute("select max(domestic+worldwide) from earning").fetchall())

[(3004885849.0,)]

In [41]:
answer = cur.execute('''select t1.movie_id,t1.title,t1.rating,t2.worldwide+t2.domestic
                     from imdb t1
                     join earning t2
                     on t1.movie_id = t2.movie_id
                     group by t1.movie_id
                     order by (t2.worldwide+t2.domestic) desc''').fetchall()

In [43]:
answer[0][2]

8.1